---
import { getCollection } from "astro:content";

import BaseLayout from "@layouts/BaseLayout.astro";
import PostCard from "@components/PostCard.astro";

const title = "Notes";
const description =
  "A collecion of notes, code snippets, thoughts and ideas. The entries of this section will probably change a lot over time.";

const notes = await getCollection("notes");
---

<BaseLayout title={title} description={description}>
  <section class="mb-6">
    <h1 class="mb-3 text-4xl font-bold text-blue md:mb-6 md:text-5xl">{title}</h1>
    <p class="mb-3">{description}</p>
    <ul class="mt-6 gap-8 space-y-4 md:columns-2 xl:columns-3">
      {notes.map(note => <PostCard post={note} />)}
    </ul>
  </section>
</BaseLayout>
