---
import { getCollection, type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

import BaseLayout from "@layouts/BaseLayout.astro";
import CommitInfo from "@components/CommitInfo.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map(entry => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

export interface Props {
  entry: CollectionEntry<"blog">;
}

const { entry } = Astro.props;
const { title, description, image, imageAlt } = entry.data;
const { Content, remarkPluginFrontmatter } = await entry.render();
---

<BaseLayout title={title} description={description} image={`/og/blog/${entry.slug}.png`} type="article">
  <article>
    <header class="mb-8">
      <h1 class="mb-3 text-4xl font-bold text-blue md:mb-6 md:text-5xl">{title}</h1>
      <CommitInfo commits={remarkPluginFrontmatter.commits} />
      {image && <Image src={image} alt={imageAlt!} loading="eager" class="my-8" />}
    </header>

    <main class="prose max-w-none prose-inline-code:rounded prose-inline-code:border prose-inline-code:bg-background">
      <Content />
    </main>
  </article>

  <hr class="my-12 h-px border-none bg-blue" />

  <section>
    <h2 class="my-[1em] text-center text-3xl font-bold text-blue">Comments</h2>
    <giscus-widget
      id="comments"
      repo="piero-vic/pierolescano.com"
      repoid="R_kgDOGd9pjg"
      category="Comments"
      categoryid="DIC_kwDOGd9pjs4CBO-U"
      mapping="pathname"
      reactionsenabled="1"
      emitmetadata="0"
      inputposition="bottom"
      theme="transparent_dark"
      lang="en"
      loading="eager"></giscus-widget>
  </section>
</BaseLayout>

<script>
  import "giscus";
</script>
