---
import { getCollection, type CollectionEntry } from "astro:content";
import { Image, getImage } from "astro:assets";

import BaseLayout from "@layouts/BaseLayout.astro";
import CommitInfo from "@components/CommitInfo.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map(entry => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

export interface Props {
  entry: CollectionEntry<"blog">;
}

const { entry } = Astro.props;
const { title, description, image, imageAlt } = entry.data;
const ogImage = image && (await getImage({ src: image, format: "png" }));
const { Content } = await entry.render();
---

<BaseLayout title={title} description={description} image={ogImage?.src} imageAlt={imageAlt} type="article">
  <article class="prose max-w-none prose-inline-code:rounded prose-inline-code:border prose-inline-code:bg-background">
    <h1>{title}</h1>
    <CommitInfo id={entry.id} />
    {image && <Image src={image} alt={imageAlt!} loading="eager" />}
    <Content />
  </article>

  <hr class="my-12 h-px border-none bg-blue" />

  <section>
    <h2 class="my-[1em] text-center text-3xl font-bold text-blue">Comments</h2>
    <giscus-widget
      id="comments"
      repo="piero-vic/pierolescano.com"
      repoid="R_kgDOGd9pjg"
      category="Comments"
      categoryid="DIC_kwDOGd9pjs4CBO-U"
      mapping="pathname"
      reactionsenabled="1"
      emitmetadata="0"
      inputposition="bottom"
      theme="transparent_dark"
      lang="en"
      loading="eager"></giscus-widget>
  </section>
</BaseLayout>

<script>
  import "giscus";
</script>
