---
import dayjs from "dayjs";
import { getCollection } from "astro:content";

import BaseLayout from "../../layouts/BaseLayout.astro";
import PostList from "../../components/PostList.astro";

const title = "Blog";
const description = "Technical articles, code snippets, and writings on the things I'm learning.";

const posts = await getCollection("blog");

const posts21 = posts.filter(post => dayjs(post.data.pubDate).format("YYYY") == "2021");
const posts22 = posts.filter(post => dayjs(post.data.pubDate).format("YYYY") == "2022");
---

<BaseLayout title={title} description={description}>
  <section class="mb-6">
    <h1 class="mb-6 text-5xl font-black text-green">{title}</h1>
    <p class="mb-3">{description}</p>
  </section>

  <PostList heading="2022" posts={posts22} dateFormat="MMM D" />
  <PostList heading="2021" posts={posts21} dateFormat="MMM D" />
</BaseLayout>
