---
import { getCollection } from "astro:content";

import BaseLayout from "@layouts/BaseLayout.astro";
import PostList from "@components/PostList.astro";

const title = "Blog";
const description =
  "A collection of writings on the things I'm learning and status updates on the proyects I'm working on.";

const posts = await getCollection("blog");
posts.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());

const years = posts.reduce((years, posts) => {
  return years.add(posts.data.pubDate.getFullYear());
}, new Set<number>());
---

<BaseLayout title={title} description={description}>
  <section class="mb-6">
    <h1 class="mb-3 text-4xl font-bold text-blue md:mb-6 md:text-5xl">{title}</h1>
    <p class="mb-3">{description}</p>
  </section>

  {
    Array.from(years).map(year => (
      <PostList
        heading={year.toString()}
        posts={posts.filter(post => post.data.pubDate.getFullYear() == year)}
        dateFormat="MMM D"
      />
    ))
  }
</BaseLayout>
