---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import PostList from "../components/PostList.astro";
import ProjectList from "../components/ProjectList.astro";
import { projects } from "../data";

const title = "Piero Lescano";
const description = "Software developer focused on building CLI tools and web applications.";

const posts = await getCollection("blog");
const favoriteProjects = projects.filter(p => p.favorite);
---

<BaseLayout title={title} description={description}>
  <section class="mb-6">
    <h1 class="mb-6 text-5xl font-black text-blue">{title}</h1>
    <p class="mb-3">
      I'm a software developer from Peru. I
      <a href="/projects" class="font-semibold text-green decoration-2 underline-offset-4 hover:underline">build</a>
      for the web and
      <a href="/blog" class="font-semibold text-green decoration-2 underline-offset-4 hover:underline">write</a> about it
      sometimes. My interests go from jazz, generative music, and books to Linux, open source, and anything web related.
    </p>
  </section>

  <PostList heading="Latest posts" posts={posts} dateFormat="MMM D, YYYY" />
  <ProjectList heading="Projects" projects={favoriteProjects} />
</BaseLayout>
