---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectList from "../components/ProjectList.astro";

const title = "Projects";
const description = "Collection of small web projects and CLI tools I've built.";

const projects = await getCollection("projects");

const webProjects = projects.filter(p => p.data.category === "web");
const cliProjects = projects.filter(p => p.data.category === "cli");
---

<BaseLayout title={title} description={description}>
  <section class="mb-6">
    <h1 class="mb-3 text-4xl font-bold text-blue md:mb-6 md:text-5xl">{title}</h1>
    <p class="mb-3">{description}</p>
  </section>

  <ProjectList projects={webProjects} heading="Web" />
  <ProjectList projects={cliProjects} heading="Terminal" />
</BaseLayout>
