---
import { twitter, website } from "../data.js";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { title, description, type, image, imageAlt } = Astro.props.data;
const pageTitle = title.includes("Piero Lescano") ? title : `${title} | Piero Lescano`;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />

{title ? <title>{pageTitle}</title> : null}
{description ? <meta name="description" content={description} /> : null}
{image ? <meta name="image" content={website.url + image} /> : null}

<link rel="canonical" href={canonicalURL} />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

<!-- Open Graph Tags -->
<meta property="og:type" content={type} />
<link rel="og:url" href={canonicalURL} />
{title ? <meta name="og:title" content={title} /> : null}
{description ? <meta name="og:description" content={description} /> : null}
{image ? <meta name="og:image" content={website.url + image} /> : null}

<!-- Twitter Tags -->
<meta name="twitter:card" content={type == 'article' && image ? 'summary_large_image' : twitter.card} />
<meta name="twitter:site" content={twitter.site} />
<meta name="twitter:creator" content={twitter.creator} />
{title ? <meta name="twitter:title" content={title} /> : null}
{description ? <meta name="twitter:description" content={description} /> : null}
{image ? <meta name="twitter:image" content={website.url + image} /> : null}
{imageAlt ? <meta name="twitter:image:alt" content={imageAlt} /> : null}
