---
export interface Props {
  title: string;
  description: string;
  type: string;
  image: string;
}

const { title, description, type, image } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const imageURL = new URL(image, Astro.site);
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Basic Tags -->
  <title>{title === "Piero Lescano" ? title : `${title} | Piero Lescano`}</title>
  <meta name="title" content={title} />
  {description ? <meta name="description" content={description} /> : null}
  {image ? <meta name="image" content={imageURL} /> : null}
  <meta name="generator" content={Astro.generator} />

  <!-- Links -->
  <link rel="canonical" href={canonicalURL} />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="alternate" type="application/rss+xml" href="/rss.xml" title="Piero Lescano" />

  <!-- Open Graph Tags -->
  <meta property="og:type" content={type} />
  <link rel="og:url" href={canonicalURL} />
  <meta name="og:title" content={title} />
  {description ? <meta name="og:description" content={description} /> : null}
  {image ? <meta name="og:image" content={imageURL} /> : null}
</head>
