---
const { title, description, image } = Astro.props;
const mainTitle = title.includes("Piero Lescano")
  ? title
  : `${title} | Piero Lescano`;
---

<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, viewport-fit=cover"
/>
<title>{mainTitle}</title>
<link
  rel="stylesheet"
  type="text/css"
  href={Astro.resolve("../styles/index.css")}
/>
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="description" content={description} />
<!-- Open Graph Meta Tags -->
<meta property="og:url" content="https://piero-vic.github.io" />
<meta property="og:type" content="website" />
<meta name="og:title" content={title} />
<meta name="og:description" content={description} />
<meta name="og:image" content={image || "https://piero-vic.github.io/logo.png"}
/>
<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@v1ccenzo" />
<meta name="twitter:creator" content="@v1ccenzo" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta
  name="twitter:image"
  content={image || "https://piero-vic.github.io/logo.png"}
/>
