---
import { twitter } from '../data.js';
const { card, site, creator } = twitter;

const canonicalURL = Astro.request.canonicalURL
const { title, description, type, image, imageAlt } = Astro.props.content;
const pageTitle = title.includes("Piero Lescano") ? title : `${title} | Piero Lescano`;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />

{title ? <title>{pageTitle}</title> : null}
{description ? <meta name="description" content={description} /> : null}
{image ? <meta name="image" content={image} /> : null}

<link rel="canonical" href={canonicalURL} />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

<!-- Open Graph Tags -->
<meta property="og:type" content={type} />
<link rel="og:url" href={canonicalURL} />
{title ? <meta name="og:title" content={title} /> : null}
{description ? <meta name="og:description" content={description} /> : null}
{image ? <meta name="og:image" content={image} /> : null}

<!-- Twitter Tags -->
<meta name="twitter:card" content={card} />
<meta name="twitter:site" content={site} />
<meta name="twitter:creator" content={creator} />
{title ? <meta name="twitter:title" content={title} /> : null}
{description ? <meta name="twitter:description" content={description} /> : null}
{image ? <meta name="twitter:image" content={image} /> : null}
{imageAlt ? <meta name="twitter:image:alt" content={imageAlt} /> : null}
