---
import { LONG_MONTH_DATE_FORMATTER } from "../lib/datetimes";

const OWNER = "piero-vic";
const REPO = "pierolescano.com";
const BLOG_PATH = "/src/content/blog";

export interface Props {
  id: string;
}

const { id } = Astro.props;

const response = await fetch(`https://api.github.com/repos/${OWNER}/${REPO}/commits?path=${BLOG_PATH}/${id}`);
const commits = response.ok ? await response.json() : [];

const updatedDate = new Date(commits[0]?.commit.author.date);
---

{
  commits.length > 0 && (
    <p class="text-sm">
      Updated:
      <em>
        <time datetime={updatedDate.toISOString()}>{LONG_MONTH_DATE_FORMATTER.format(updatedDate)}</time>
        in
        <a href={commits[0].html_url}>{commits[0].sha.substring(0, 7)}</a>
      </em>
    </p>
  )
}
