---
import Time from "@components/Time.astro";
import type { Commit } from "@lib/remark-git-log";

const OWNER = "piero-vic";
const REPO = "pierolescano.com";

export interface Props {
  commits?: Commit[];
}

const { commits = [] } = Astro.props;

const firstCommit = commits.length > 0 ? commits[commits.length - 1] : null;
const lastCommit = commits.length > 0 ? commits[0] : null;
const hasBeenUpdated = firstCommit?.hash !== lastCommit?.hash;
---

{
  firstCommit != null && (
    <p class="text-sm">
      Published:
      <Time
        class="italic"
        datetime={new Date(firstCommit.date)}
        formatOptions={{ year: "numeric", month: "long", day: "numeric" }}
      />
      in
      <a class="text-blue underline" href={`https://github.com/${OWNER}/${REPO}/commit/${firstCommit.hash}`}>
        {firstCommit.hash.substring(0, 7)}
      </a>
    </p>
  )
}

{
  lastCommit != null && hasBeenUpdated && (
    <p class="text-sm">
      Updated:
      <Time
        class="italic"
        datetime={new Date(lastCommit.date)}
        formatOptions={{ year: "numeric", month: "long", day: "numeric" }}
      />
      in
      <a class="text-blue underline" href={`https://github.com/${OWNER}/${REPO}/commit/${lastCommit.hash}`}>
        {lastCommit.hash.substring(0, 7)}
      </a>
    </p>
  )
}
