---
import type { CollectionEntry } from "astro:content";

import { SHORT_MONTH_DATE_FORMATTER } from "@lib/datetimes";

export interface Props {
  heading: string;
  posts: CollectionEntry<"blog">[];
  dateFormat: string;
}

const { heading, posts } = Astro.props;
---

<section class="my-6 first:mt-0 last:mb-0">
  <h2 class="my-3 border-b border-b-blue pb-3 text-2xl font-bold text-blue">{heading}</h2>
  <ul class="space-y-4">
    {
      posts.map(({ slug, data }) => (
        <li class="relative border-l border-blue py-1 pl-3 transition-shadow focus-within:shadow-[-3px_0] focus-within:shadow-blue hover:shadow-[-3px_0] hover:shadow-blue">
          <a href={`/blog/${slug}`} class="text-lg font-bold text-blue after:absolute after:inset-0">
            {data.title}
          </a>
          <div class="mt-1 text-sm font-thin">
            <time datetime={data.pubDate.toISOString()}>{SHORT_MONTH_DATE_FORMATTER.format(data.pubDate)}</time>
          </div>
        </li>
      ))
    }
  </ul>
</section>
