---
import type { CollectionEntry } from "astro:content";

import { SHORT_MONTH_DATE_FORMATTER } from "@lib/datetimes";

export interface Props {
  post: CollectionEntry<"blog"> | CollectionEntry<"notes">;
}

const {
  post: { collection, data, slug },
} = Astro.props;
---

<li
  class="relative border-l border-blue py-1 pl-3 transition-shadow focus-within:shadow-[-3px_0] focus-within:shadow-blue hover:shadow-[-3px_0] hover:shadow-blue"
>
  <a href={`/${collection}/${slug}`} class="text-lg font-bold text-blue after:absolute after:inset-0">
    {data.title}
  </a>
  {
    data.tags.length > 0 && (
      <ul class="mt-1 space-x-2 text-xs font-thin">
        {data.tags.map(tag => (
          <li class="inline rounded border bg-background px-1">#{tag}</li>
        ))}
      </ul>
    )
  }
  {
    collection == "blog" && (
      <div class="mt-1 text-sm font-thin">
        <time datetime={data.pubDate.toISOString()}>{SHORT_MONTH_DATE_FORMATTER.format(data.pubDate)}</time>
      </div>
    )
  }
</li>
