---
const { project } = Astro.props;

const spanColors = {
  Astro: "text-red",
  "CoinGecko API": "text-green",
  CSS: "text-cyan",
  HTML: "text-red",
  JavaScript: "text-yellow",
  "Ledger CLI": "text-white",
  Python: "text-green",
  React: "text-blue",
  TailwindCSS: "text-blue",
  Typer: "text-white",
  "VCV Rack": "text-white",
};
---

<li
  class="min-w-full min-h-[10vh] bg-black p-4 gap-4 rounded-xl md:min-h-full flex flex-col text-center"
>
  <h3 class="text-xl font-bold text-blue">{project.name}</h3>
  <ul class="flex justify-center gap-4">
    {project.repoLink && (
      <li>
        <a
          class="rounded-xl border border-foreground bg-background p-2 font-semibold hover:border-blue hover:text-blue"
          href={project.repoLink}
        >
          Source
        </a>
      </li>
    )}
    {project.demoLink && (
      <li>
        <a
          class="rounded-xl border border-foreground bg-background p-2 font-semibold hover:border-blue hover:text-blue"
          href={project.demoLink}
        >
          Demo
        </a>
      </li>
    )}
  </ul>
  <p class="text-xl">{project.description}</p>
  <div class="flex flex-wrap mt-4 md:mt-auto mx-auto">
    {project.technologies.map((tech) => (
      <span class=`font-semibold ${spanColors[tech]} mr-4`>{tech}</span>
    ))}
  </div>
</li>
