---
const {project} = Astro.props

const spanColors = {
  Astro: 'text-red',
  'CoinGecko API': 'text-green',
  CSS: 'text-cyan',
  HTML: 'text-red',
  JavaScript: 'text-yellow',
  'Ledger CLI': 'text-white',
  Python: 'text-green',
  React: 'text-blue',
  TailwindCSS: 'text-blue',
  Typer: 'text-white',
  'VCV Rack': 'text-white',
}
---

<li class="min-w-full min-h-[10vh] bg-black p-4 rounded-xl md:min-h-full odd:md:row-span-2 even:md:row-span-3 last:md:col-span-2 flex flex-col transition hover:scale-[1.02]">
  <h3 class="text-xl font-semibold text-blue">{project.name}</h3>
  <p>{project.description}</p>
  <div class="flex flex-wrap mt-4 md:mt-auto">
    {project.technologies.map((tech) => (
      <span class=`font-semibold ${spanColors[tech]} mr-4`>{tech}</span>
    ))}  
  </div>
</li> 
